<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lap Line Tracker</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

    <form id="access-form">
        <label for="access-key">Enter Access Key:</label>
        <input type="password" id="access-key" required>
        <button type="submit">Submit</button>
        <p id="error-message"></p>
    </form>


    <div id="content" style="display:none;">
        <div class="main-container">
            <div class="heading">Lap Line Tracker</div>
            <div id="current Race-container"></div>
            <div id="cars-container"></div>
            <div id="raceId" class="tablet-text"></div>
        </div>
        <div class="footer">
            <button class="tap-button" id="fullscreenBtn">Go Fullscreen</button>
        </div>
    </div>

    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/js/lap-line-tracker-events.js"></script>
</body>

</html>