<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lap Line Tracker</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div id="page-flex "></div>
    <h1>Lap Line Tracker</h1>
    <p>This is the Lap Line Tracker page.</p>
    <script></script>
<!-- The the page consists of 10 buttons each with a car_id = if pressed, it will set the lap time  and increment the lap count-->
    <!-- displays the leaderboard It is to be switched off before launch -->
        <div id="current Race-container"></div>
        <div id ="cars-container">
        <button id="car_1">
        <button id="car_2">
        <button id="car_3">
        </div>
    <p>this is the footer</p>
    </div>
</body>
</html>
