<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Leaderboard</title>
	<link rel="stylesheet" href="/styles.css" />
</head>

<body>
	<div class="page-container">
		<div class="boarder-box"></div>
		<div class="main-container">
				<div class="heading">Leaderboard
				</div>
			<div class="main">
				<div class="left-container">
					<div id="race-flag" class="raceFlagDiv"></div>
					<div id="race-timer" class="leader-timer">00:00</div>
				</div>
				<div class="right-container">
					<div id="leaderboard">Leader Board table</div>
				</div>
			</div>
			<div class="footer">
				<button class="tap-button" id="fullscreenBtn">Go Fullscreen</button>
			</div>
		</div>
		<div class="boarder-box"></div>
	</div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/leaderboard.js"></script>
</body>

</html>