<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Leaderboard</title>
	<link rel="stylesheet" href="/styles.css" />
</head>

<body>
	<h1>Leaderboard</h1>
	<p>
		This is the Leaderboard page. Here you can view the current race
		standings.
	</p>
	<div id="race-timer">Once the timer starts a time will be displayed</div>
	<!-- iteration 1 is to see the leader board unordered with the required data -->
	<div id="race-flag" class="raceFlagDiv"></div>
	<div id="leaderboard"> the leaderboard should be here!</div>
	<button id="fullscreenBtn">Go Fullscreen</button>
	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="/js/leaderboard.js"></script>
</body>

</html>