<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Next Race</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>Next Race</h1>
    <div id="nextRaceStatus">
    </div>
    <div>
        <h2 id="next-race-session-name">No upcoming race</h2>
        <p id="next-race-time">--</p>
        <ul id="next-race-driver-list"></ul>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/next-race.js"></script>
</body>

</html>