<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Next Race</title>
    <link rel="stylesheet" href="/styles.css">
    <style>
        body {
            font-size: 1.5vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* Centers horizontally */
            justify-content: center;
            /* Centers vertically (if height is defined) */
            min-height: 100vh;
            /* Ensure body takes full viewport height */
            margin: 0;
        }

        p {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Next Race</h1>
    <div id="nextRaceStatus">
    </div>
    <div>
        <h2 id="next-race-session-name"></h2>
        <p id="next-race-time"></p>
        <ul id="next-race-driver-list"></ul>
    </div>
    <button id="fullscreenBtn">Go Fullscreen</button>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/next-race.js"></script>
</body>

</html>