<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Race Control</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>Race Control Access</h1>
    <form id="access-form">
        <label for="access-key">Enter Access Key:</label>
        <input type="password" id="access-key" required>
        <button type="submit">Submit</button>
        <p id="error-message"></p>
    </form>

    <div id="session-content" style="display: none;">
        <button id="see-new-session">Start the next session</button>
        <h3><span id="race-status-display-session"></span></h3>
    </div>
    <div id="content" style="display: none;">
        <h2>Race Control</h2>
        <div id="race-information">

        </div>

        <button id="start-race">Start Race</button>
        <h3>Race status: <span id="race-status-display">Not started</span></h3>
    </div>
    <div id="content-after-start" style="display: none;">
        <h2>Race Control</h2>
        <button id="mode-safe">Safe</button>
        <button id="mode-hazard">Hazard</button>
        <button id="mode-danger">Danger</button>
        <button id="end-race">Finish</button>
        <h3>Race status: <span id="race-status-display-2">Not started</span></h3>
        <h3>Current Race Mode: <span id="race-mode-start">Safe</span></h3>
    </div>
    <div id="content-after-finish" style="display: none;">
        <button id="end-session">End session</button>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/race-control.js"></script> <!-- Link to the new JS file -->
</body>

</html>