<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Race Countdown</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="main-container">
        <div class="heading">Race Countdown</div>
        <div class="main">
            <div class="timer-display" id="race-timer">00:00</div>
        </div>
    </div>
    <div class ="center">
    <button class="tap-button" id="fullscreenBtn"> Go Fullscreen</button>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/js/race-countdown.js"></script>
</body>

</html>